body {
      background-color : #505050;
}
button{
        background-color: #66ccff;
        border-radius: 10%;
        font-style: normal;
        text-align: center;
        text-decoration-color: #000000;
        width: 40%;
        height: 100%;
}
div{
      margin: 0 auto;
      background-color: #e8e8e8;
      border-color: #2f4f4f;
      border-radius: 1%;
      align-items: center;
      align-self: center;
      display: inline-grid;
      width: 30%;
      height: 50%;
}
#getpassword{
              float: left;
              margin-left: 10%;
}
#googleloginid{
                  background-color: #cc0000;
                  float: left;
                  margin-left: 10%;

}
#fblogin{
            background-color: #191970;
            float: right;
            margin-right: 10%;
            text-decoration-color: #ffffff;
}
form{
        margin: 0 auto;
}
label{
        margin-left: 10%;
}
#passwordlbl{
              float: left;
}
#signup{
          float: right;
          margin-right: 10%;
}
span{
      border-radius: 50%;
      background-color: #787878;
      align-items: center;
}
#usernamelbl{
              float: left;
}
